:root {
  --main-bg-color: #1e1e1e;
  --text-color: #333;
  --header-height: 100vh;
  --font-family: 'Roboto', sans-serif;
  --font-weight-bold: 700;
  --transition-box-shadow: 0.3s;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  --slide-in-animation: fadeIn 1s ease-in-out;
  --payment-box-width: 100%;
  --border-radius: 10px;
  --slide-in-duration: 1s;
  --slide-in-effect: ease-in-out;
}


.App-header {
  background-color: var(--main-bg-color);
  min-height: var(--header-height);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.slide-in-text, .payment-box {
  background-color: #f0f0f0;
  color: var(--text-color);
  border-radius: var(--border-radius);
  animation: var(--slide-in-animation);
}

.slide-in-text {
  max-width: 750px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  font-size: 18px;
}

.payment-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, var(--payment-box-width)));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.payment-box:hover {
  box-shadow: var(--box-shadow-hover);
}

.payment-box img {
  width: 750px;
  height: auto;
  border-radius: var(--border-radius);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* Additional global styles */
body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.photo-section {
  position: relative; /* Required for absolute positioning inside */
  width: 100%; /* Set desired width or keep it responsive */
  display: flex; /* Center the content */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.photo {
  width: 100%; /* Adjust as needed, or keep 100% for responsiveness */
  height: auto; /* Maintain aspect ratio */
}

.overlay-text {
  position: absolute;
  top: 20%; /* Adjust this value to align the overlay text vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%; /* Set the width of the overlay text box */
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background for readability */
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 2em; /* Adjust the font size as necessary */
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds depth to the text box */
}


@keyframes sheen {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(200%);
  }
}

/* New styles for sheen effect on the amount */
.sheen-effect {
  position: relative;
  overflow: hidden;
  display: inline-block; /* Use inline-block for positioning the pseudo-element */
  color: #1e1e1e; /* Use CSS variable for text color */
  font-family: var(--font-family);
  font-size: 26px; /* Text size */
  font-weight: bold; /* Text weight */
}

.sheen-effect::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Start the sheen to the left of the element */
  width: 300%; /* Three times the width to ensure it covers the entire text */
  height: 100%;
  background: linear-gradient(to right, 
    transparent 0%, 
    rgba(243, 22, 22, 0.75) 50%, 
    transparent 100%);
  animation: sheen 2s infinite;
}

.fadeIn {
  animation: fadeIn var(--slide-in-duration) var(--slide-in-effect);
}

@media (max-width: 768px) {
  .slide-in-text,
  .payment-box {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    padding: 10px;
    max-width: 90%;
    margin: 1em auto;
  }

  .payment-boxes {
    grid-template-columns: 1fr;
  }
  
  .payment-box img {
    width: auto;
    max-width: 100%;
  }

  .sheen-effect {
    font-size: 1em;
  }

  .overlay-text {
    font-size: 1em; /* Smaller font size for mobile screens */
  }

  .photo-section .overlay-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%), translateY(-20%);
    text-align: center;
  }
}

.payment-info {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #333;
  padding: 20px;
}

.payment-table {
  width: 100%;
  border-collapse: collapse;
}

.payment-table th,
.payment-table td {
  text-align: left;
  padding: 8px;
}

.payment-table th {
  background-color: #555;
}

.payment-table tr:nth-child(even) {
  background-color: #474747;
}

.citation {
  cursor: pointer;
  color: #4a90e2;
  text-decoration: underline;
}

.disclosure {
  margin-top: 10px;
  background-color: #555;
  padding: 10px;
  border-radius: 5px;
}

.summary {
  margin-top: 15px;
  background-color: #555;
  padding: 10px;
  border-radius: 5px;
}
